<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swords.dutyreporting" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoggedInActivity"
            android:label="@string/title_activity_logged_in" >
        </activity>
        <activity
            android:name=".ManualEntryActivity"
            android:label="@string/title_activity_manual_entry" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PDLogginInActivity"
            android:label="@string/title_activity_pdloggin_in" >
        </activity>
        <activity
            android:name=".AggregateDataActivity"
            android:label="@string/title_activity_aggregate_data" >
        </activity>
        <activity
            android:name=".ListOfResidentsActivity"
            android:label="@string/title_activity_list_of_residents" >
        </activity>
        <activity
            android:name=".SpecificUserDataActivity"
            android:label="@string/title_activity_specific_user_data" >
        </activity>

        <service android:name=".GeofenceTransitionsIntentService" />

        <activity
            android:name=".AllViolationsActivity"
            android:label="@string/title_activity_all_violations" >
        </activity>

        <service android:name=".GeofenceTransitionsIntentService" />

        <activity
            android:name=".UserSelectActivity"
            android:label="@string/title_activity_user_select" >
        </activity>

        <service android:name=".GeofenceTransitionsIntentService" />

        <activity
            android:name=".InAndOutActivity"
            android:label="@string/title_activity_in_and_out" >
        </activity>
    </application>

</manifest>
